.order-item {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 20rem;
	overflow: auto;
}

.item-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.item-thumbnail {
	width: 100%;
	height: 10rem;
	z-index: 0;
	overflow: hidden;
}

.item-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.order-item__option {
	padding: 0.5rem 0;
}
.order-item label {
	font-weight: bold;
	margin-right: 1rem;
}

.order-item select {
	border-radius: 5px;
	border: 1px solid #ccc;
	font: inherit;
	padding: 0 0.5rem;
}
